.top-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 640px;
    height: 30px;
    padding-bottom: 10px;
}

.top-button {
    background-color: darkgreen;
    border-radius: 7px;
    height: 30px;
    width: fit-content;
    font-family: 'Dela Gothic One', cursive;
    color: white;
    transition-duration: 0.7s;
    box-shadow: inset 0px 0px 10px black, 0 0 16px rgb(45, 200, 45);
}


.siege-clock {
    background-color: darkgreen;
    border-radius: 7px;
    height: 30px;
    width: 90px;
    font-family: 'Dela Gothic One', cursive;
    color: white;
    transition-duration: 0.7s;
    box-shadow: inset 0px 0px 10px black, 0 0 16px rgb(45, 200, 45);
}

.top-button:hover {
    background-color: rgb(33, 162, 80);
    cursor:pointer;
}